<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="a web chat system by node.js">
    <meta name="author" content="phachon">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <script type="text/javascript" src="/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">phaChat 聊天室</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:;">首页</a></li>
                <li><a href="/chat/index">聊天室</a></li>
                <li><a href="/about/index">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/author/index"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                <li><a href="/author/register"><span class="glyphicon glyphicon-registration-mark"></span> 注册 </a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-top: 50px;padding: 20px 100px;">
    <div class="jumbotron well">
        <h2>
            phaChat
        </h2>
        <p class="lead">
            一个简单的 web 聊天室, 采用 node.js 编写，基于 express + mysql + socket 实现的在线多人web 聊天系统，包括用户的登陆注册，用户的个 人信息修改,目的是为了更加深入学习了解 node.js 和 websocket 技术，给初学者一个练习的小项目。有兴趣的同学可以继续完善（用户的头像上传，创建聊天群，消息保存等）
        </p>
        <p>
            <a class="btn btn-sm btn-primary" href="https://github.com/phachon/phaChat" role="button">源代码</a>
        </p>
    </div>
    <div class="row" style="margin: 0 auto">
    <div class="span4 jumbotron well" style="width: 345px;height:350px;float: left;">
        <h3>安装</h3>
        <hr>
        <ul>
            <li>npm 3.*</li>
            <li>node v6.*</li>
            <li>express 4.3.*</li>
            <li>mysql 5.5.*</li>
            <li>redis 2.8.*</li>
            <li>npm install</li>
            <li>npm start   //开启web聊天室</li>
            <li>node server //开启聊天服务端</li>
        </ul>
    </div>
    <div class="span4 jumbotron well" style="width: 380px;height:350px; float: left; margin-left: 20px;">
        <h3>目录</h3>
        <hr>
        <ul>
            <li>config 配置文件信息</li>
            <li>core 一些公共的核心类</li>
            <li>document 文档目录 sql文件</li>
            <li>models 数据model类</li>
            <li>public 公共的静态文件(css, js, images)目录</li>
            <li>routes 路由</li>
            <li>views 模板文件</li>
            <li>app.js 客户端全局配置</li>
            <li>package.json node 模块包信息</li>
            <li>server.js socket 服务端</li>
        </ul>
    </div>
    <div class="span4 jumbotron well" style="width: 380px;height:350px; float: left;margin-left: 20px;">
        <h3>继续扩展</h3>
        <hr>
        <ul>
            <li>增加创建聊天室，创建群聊功能</li>
            <li>用户可自定义头像，修改头像</li>
            <li>聊天可发送表情及图片</li>
            <li>聊天记录保存上传</li>
            <li>实现视频聊天功能</li>
        </ul>
    </div>
    </div>
    <div class="footer">
        <hr>
        <p>© phachon@163.com  2016</p>
    </div>
</div>
</body>
</html>