<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="a web chat system by node.js">
    <meta name="author" content="phachon">
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/css/sweetalert.css">
    <link rel="stylesheet" href="/css/user.css">

    <script type="text/javascript" src="/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="/js/common/common.js"></script>
    <script type="text/javascript" src="/js/common/form.js"></script>
</head>
<body>
<div class="box box-primary">
    <form class="form-horizontal" role="form" action="/user/passmodify" method="post" onsubmit="return false">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="/images/avatar-female2.png" alt="User profile picture" style="width: 70px;height: 70px;">
            <h3 class="profile-username text-center">root</h3>
            <hr>
            <div class="form-group">
                <label class="col-sm-2 control-label">当前密码</label>
                <div class="col-sm-10">
                    <input type="hidden" name="user_id" class="form-control" value="<%= user_id %>">
                    <input type="password" name="password" class="form-control" placeholder="输入当前密码" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                    <input type="password" name="re_password" class="form-control" placeholder="输入新密码" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-10">
                    <input type="password" name="again_password" class="form-control" placeholder="再次输入新密码" value="">
                </div>
            </div>
            <button class="btn btn-primary btn-block" onclick="Form.ajaxSubmit(this.form, 'true')">保存</button>
        </div>
    </form>
</div>
</body>
</html>